#listItem {
    border-bottom: #722ed1 1px solid;
    padding: 10px;
    margin: 20px 0;
}

.tenancy > * {
    background-color: #52c41a;
    border: 'none';
}

.ownership > * {
    background-color: #722ed1;
    border: 'none';
}

.pagination {
    display: flex;
    justify-content: center;
}
