/* @import '~antd/dist/antd.css'; */
@import './styles/css/antd.css';

.App {
    text-align: left;
}

.header {
    position: 'fixed';
    z-index: 1;
    width: 100%;
    color: white;
    background: '#001529';
}

.content {
    padding: 50px;
    min-height: 90vh;
}

.box {
    background-color: #722ed10c;
    border: #722ed1 1px solid;
}

.itemSpacing > * {
    padding: 1px;
    margin: 1px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
